<div id="title">
    <h1 [ngStyle]="{'text-align':'center'}" >{{title}}</h1>
    <hr>
</div>
    <h2  [ngStyle]="{'text-align':'center'}">{{subtitle}}</h2>
    <p [ngStyle]="{'text-align':'center'}" >{{email}}</p>

<div class="central">
    <h1>Mis servicios</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem vitae asperiores, sunt quo cupiditate accusantium enim sit quaerat aspernatur ea unde laborum ad reprehenderit dignissimos cumque pariatur voluptates nisi architecto.
    Et dolores enim perspiciatis ut molestias ducimus tenetur fugiat quisquam officiis reprehenderit unde explicabo magni, delectus veritatis perferendis laudantium voluptas asperiores nisi tempora laboriosam ab. Doloribus delectus totam doloremque quo.
    Odit illum, autem explicabo, voluptatibus non quos fugit consequuntur, fuga aliquam deserunt neque. Officiis labore maiores totam, nisi at enim nostrum nemo vero doloremque illo reprehenderit, alias iste iusto consequuntur?
    Ratione quos odit magni sint veritatis nisi consequatur, nihil totam molestiae illo voluptatem debitis nostrum ipsam laborum, cumque neque quaerat nobis officiis temporibus. Accusamus assumenda ab sapiente ducimus, molestiae dolor.
    Voluptas molestias expedita voluptatem dolores blanditiis sit magnam quidem animi, dignissimos quas vero laborum recusandae. Excepturi non nesciunt obcaecati voluptate in rerum, amet provident, dicta cum omnis impedit reiciendis minus.
    </p>
  </div>
  <footer>
    contacto : alfonso.adamer@gmail.com
  
  </footer>