a {
  color: white;
  font-size: 2.3rem;
  font-weight: 430;
  margin-right: 4.5rem;
}

a:hover{
  color:#000;
  background-color: #ffd200;
}


.actived {
color:#000;
background-color: #ffd200;
}
.fondo{
  height:19em; background-size:cover; width:auto;
  background-image:url('../assets/img/fondo2.jpg');
  background-position:50% 50%;
}

/* @media only screen and(max-width: 300px){
  .fondo {
    display: none;
    width: auto;
  }
}
*/
